.blog-content-section{
    display: flex;
    flex-direction: column;

}

.pagination{
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}

.pagination > li{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.pagination > .next,.previous {
      background-color: rgb(255, 255, 255);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.376),
                  -2px -2px 5px rgba(0, 0, 0, 0.334);
      padding:2px 7px;
      
   
}

.pagination > .selected{
    background-image: linear-gradient(#2b77a3, #305a70);
     padding:2px 7px;
}